<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>蛋鸡精准生产及销售平台</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{#        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />#}
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/iconfont.css">
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/index.js"></script>

    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="./index.html">蛋鸡精准生产及销售平台</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>

            <ul class="layui-nav right" lay-filter="">
                <li class="new-nav" id="gonggao">
                    <i></i>
                    <a href="#"><i class="iconfont">&#xe6bc;</i><span class="layui-badge">4</span></a>
                    <!--<dl class="layui-nav-child">-->
                    <ul class="news" id="gonggaos" style="display: none;">
                        <li class="dropdown-header"><i class="iconfont">&#xe6bc;</i>4条公告</li>
                        <li> <a href="javascript:;" onclick="xadmin.add_tab('统计页面','notice-list.html')">
                            <div class="clearfix">
                                <span class="pull-left"> <i class="btn btn-pink iconfont">&#xe6bc;</i> 系统公告 </span>
                                <span class="pull-right badge badge-info">+12</span>
                            </div> </a> </li>
                        <li> <a href="javascript:;" onclick="xadmin.add_tab('统计页面','notice-list.html')"> <i class="btn btn-primary iconfont">&#xe6bc;</i> 商城公告 </a> </li>

                        <li> <a href="javascript:;" onclick="xadmin.add_tab('统计页面','notice-list.html')">查看所有公告 <i class="iconfont">&#xe69b;</i> </a> </li>
                    </ul>
                    <!--</dl>-->

                </li>
                <li class="new-nav" id="new-nav">
                    <i></i>
                    <a href="#"><i class="iconfont">&#xe713;</i><span class="layui-badge">9</span></a>
                    <!--<dl class="layui-nav-child">-->
                    <ul class="news" id="news" style="display: none;">
                        <li class="dropdown-header"><i class="iconfont">&#xe6bc;</i>8条通知</li>
                        <li> <a href="#">
                            <div class="clearfix">
                                <span class="pull-left"> <i class="btn btn-pink iconfont">&#xe69b;</i> 新闻评论 </span>
                                <span class="pull-right badge badge-info">+12</span>
                            </div> </a> </li>
                        <li> <a href="#"> <i class="btn btn-primary iconfont">&#xe696;</i> 切换为编辑登录.. </a> </li>
                        <li> <a href="#">
                            <div class="clearfix">
                                <span class="pull-left"> <i class="iconfont btn btn-success">&#xe723;</i> 新订单 </span>
                                <span class="pull-right badge badge-success">+8</span>
                            </div> </a> </li>
                        <li> <a href="#">
                            <div class="clearfix">
                                <span class="pull-left"> <i class="iconfont btn btn-info">&#xe6ba;</i> 粉丝 </span>
                                <span class="pull-right badge badge-info">+11</span>
                            </div> </a> </li>
                        <li> <a href="javascript:;" onclick="xadmin.add_tab('统计页面','email.html')"> 查看所有消息 <i class="iconfont">&#xe69b;</i> </a> </li>
                    </ul>
                    <!--</dl>-->

                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">admin</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a onclick="xadmin.open('个人信息','one_set.html')">个人信息</a></dd>
                        <dd>
                            <a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                        <dd>
                            <a href="./login.html">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="/welcome">前台首页</a></li>
            </ul>



        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>
                        <a href="javascript:;" onclick="xadmin.add_tab('我的桌面','/welcome')">
                            <i class="layui-icon left-nav-li" lay-tips="首页-期货">&#xe68e;</i>
                            <cite>首页</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>

                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="市场价格">&#xe6a2;</i>
                            <cite>市场价格</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('日度价格','/dailyPrice')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>日度价格</cite>
                                </a>     
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('周度价格','/weeklyPrice')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>周度价格</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('月度价格','/monthlyPrice')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>月度价格</cite>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="存栏及产量">&#xe6c0;</i>
                            <cite>存栏及产量</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('周度存栏及产量','/weeklyOutput')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>周度存栏及产量</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('月度存栏及产量','/monthlyOutput')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>月度存栏及产量</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('年度存栏及产量','/yearlyOutput')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>年度存栏及产量</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('年度产量','/city.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>年度数据</cite>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
{#                    <li>#}
{#                        <a href="javascript:;">#}
{#                            <i class="iconfont left-nav-li" lay-tips="城市联动">&#xe723;</i>#}
{#                            <cite>城市联动</cite>#}
{#                            <i class="iconfont nav_right">&#xe697;</i></a>#}
{#                        <ul class="sub-menu">#}
{#                            <li>#}
{#                                <a onclick="xadmin.add_tab('三级地区联动','city.html')">#}
{#                                    <i class="iconfont">&#xe6a7;</i>#}
{#                                    <cite>三级地区联动</cite></a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="养殖成本">&#xe726;</i>
                            <cite>养殖成本</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('周度成本','/weeklyCost')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>周度成本</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('月度成本','/monthlyCost')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>月度成本</cite>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="养殖效益">&#xe6b8;</i>
                            <cite>养殖效益</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('周度效益','/weeklyProfit')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>周度效益</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('月度效益','/monthlyProfit')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>月度效益</cite>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="饲料消耗量">&#xe726;</i>
                            <cite>饲料消耗量</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('周度饲料消耗量','/weeklySiliaoUsage')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>周度饲料消耗量</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('月度饲料消耗量','/monthlySiliaoUsage')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>月度饲料消耗量</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('年度饲料消耗量','/yearlySiliaoUsage')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>年度饲料消耗量</cite>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="鸡蛋期货">&#xe60d;</i>
                            <cite>鸡蛋期货</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('主力合约','/qihuo')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>主力合约</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('资金分布','/qihuoZijin')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>资金分布</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="产量及价格预测">&#xe636;</i>
                            <cite>产量及价格预测</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>存栏量预测</cite>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a onclick="xadmin.add_tab('蛋种鸡育成期存栏量','/yuceFmdYCcunlan')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>蛋种鸡育成期存栏量</cite>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="xadmin.add_tab('蛋种鸡产蛋期存栏量','/yuceFmdCDcunlan')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>蛋种鸡产蛋期存栏量</cite>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="xadmin.add_tab('商品蛋鸡育成期存栏量','/yuceSpdYCcunlan')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>商品蛋鸡育成期存栏量</cite>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="xadmin.add_tab('商品蛋鸡产蛋期存栏量','/yuceSpdCDcunlan')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>商品蛋鸡产蛋期存栏量</cite>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a onclick="">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>产量预测</cite>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a onclick="xadmin.add_tab('商品代蛋雏鸡产量','/yuceSpdChujiCL')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>商品代蛋雏鸡产量</cite>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="xadmin.add_tab('鸡蛋产量','/yuceEggChanliang')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>鸡蛋产量</cite>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="xadmin.add_tab('淘汰鸡数量','/yuceTaojiShuliang')">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>淘汰鸡数量</cite>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('价格趋势','/yuceEggPrice')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>价格趋势</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>饲料消费量预测</cite>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="精准生产及销售计算器">&#xe6c5;</i>
                            <cite>精准生产及销售计算器</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('成本测算','/weeklyCostCalc')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>成本测算</cite>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="综合查询">&#xe64a;</i>
                            <cite>综合查询</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
{#                        <ul class="sub-menu">#}
{#                            <li>#}
{#                                <a onclick="xadmin.add_tab('邮件管理','email.html')">#}
{#                                    <i class="iconfont">&#xe6a7;</i>#}
{#                                    <cite>邮件管理</cite></a>#}
{#                            </li>#}
{#                        </ul>#}
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd></dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src='/welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->

    </body>
    <script src="/static/js/jquery.min.js"></script>

</html>

<script>
    window.onload=function () {
        var click=document.getElementById('new-nav');
        var news=document.getElementById('news');
        click.addEventListener('mousemove',function () {
            news.style.display='block';
        });
        click.addEventListener('mouseout',function () {
            news.style.display='none';
        });

        var gonggao=document.getElementById('gonggao');
        var gonggaos=document.getElementById('gonggaos');
        gonggao.addEventListener('mousemove',function () {
            gonggaos.style.display='block';
        });
        gonggao.addEventListener('mouseout',function () {
            gonggaos.style.display='none';
        });
    }




</script>

